@if (isEditingCustomer()) {
    <app-edit-customer [selectedCustomer]="selectedCustomer()" (cancel)="onCancelEditCustomer()" (edit)="onEditCustomer($event)" (delete)="onDeleteCustomer()"/>
} @else{

<header>
    <menu>
        <button class="button is-primary" id="goBack" (click)="goBack()" >
            <span class="icon">
                <i class="fa-solid fa-backward-step"></i>
            </span>
            <span>Back</span>
        </button>
    </menu>
</header>


<div class="box">
    <h2 class="title is-4"><p>{{ selectedCustomer().name }}</p></h2>
    <p>{{ selectedCustomer().id }}</p>
    <p>{{ selectedCustomer().tax_identification_number }}</p>
    <p>{{ selectedCustomer().tax_identification_type }}</p>
    <p>{{ selectedCustomer().tax_regime }}</p>
    <p>{{ selectedCustomer().annual_revenue }} {{ selectedCustomer().currency }}</p>
    <p>{{ selectedCustomer().country }}</p>
    <p>{{ selectedCustomer().address }}</p>
    <p>{{ selectedCustomer().postal_code }}</p>
    <p>{{ selectedCustomer().establishment_date }}</p>
    <p>{{ selectedCustomer().notes }}</p>
    <p>Contacts: here will be cards with Contacts and a button to add new contact</p>

    <div class="field is-grouped is-grouped-right">
        <p class="control">
            <button class="button is-primary" routerLink="/contracts" [queryParams]="{customer: selectedCustomer()!.id}">
                Contracts
            </button>
        </p>
        <p class="control">
            <button class="button is-light" (click)="onStartEditCustomer()">
                <span class="icon">
                    <i class="fa-solid fa-pen-to-square"></i>
                </span>
                <span>Edit</span>
            </button>
        </p>
        <p class="control">
            <button class="button is-light" (click)="onDeleteCustomer()">
                <span class="icon">
                    <i class="fa-solid fa-trash"></i>
                </span>
                <span>Delete</span>
            </button>
        </p>
    </div>
</div>
}
