<aside class="menu">
    <p class="menu-label">General</p>
    <ul class="menu-list has-text-weight-semibold">
        <li><a routerLink="/customers" [queryParams]="{sortBy: 'name',sort:'asc'}" routerLinkActive="is-active" [routerLinkActiveOptions]="{matrixParams: 'exact', queryParams: 'ignored', paths: 'subset', fragment: 'ignored'}">Customers</a></li>
        <li><a routerLink="/contracts" [queryParams]="{customerId: '',pageNumber: 0,pageSize: 10}" routerLinkActive="is-active" [routerLinkActiveOptions]="{matrixParams: 'exact', queryParams: 'ignored', paths: 'subset', fragment: 'ignored'}">Contracts</a></li>
        <li><a>Invoices</a></li>
      </ul>
</aside>

    
