<div class="modal-background" (click)="onCancel()"></div>
<dialog id="newCustomerDialog" open class="box" style="width: 80%; margin-right: 2%">
    <div class="modal-content">
        <h3 class="title is-3">Edit Customer</h3>
        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label" for="name">Name</label> 
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" id="name" name="name" [(ngModel)]="selectedCustomer().name" required />
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-expanded">
                    <label class="label" for="taxIdentificationNumber">Tax Identification number</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" id="taxIdentificationNumber" name="taxIdentificationNumber" [(ngModel)]="selectedCustomer().taxIdentificationNumber"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label" for="taxIdentificationType">Tax Identification Type</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" id="taxIdentificationType" name="taxIdentificationType" [(ngModel)]="selectedCustomer().taxIdentificationType"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label" for="taxRegime">Tax Regime</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" id="taxRegime" name="taxRegime" [(ngModel)]="selectedCustomer().taxRegime"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label" for="annualRevenue">Annual Revenue</label>
                </div>
                <div class="field-body">
                    <div class="field has-addons">
                        <span class="select">
                            <select id="currency" name="currency" [(ngModel)]="selectedCustomer().currencyId">
                                @for (currency of currencyService.currencies(); track currency.currencyId) {
                                    <option [value]="currency.currencyId">
                                        {{ currency.code}}
                                    </option>
                                }
                            </select>
                        </span>
                        <div class="control">
                            <input class="input" type="text" id="annualRevenue" name="annualRevenue" [(ngModel)]="selectedCustomer().annualRevenue"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label" for="country">Country</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <div class="select" >
                                <select id="country" name="country" [(ngModel)]="selectedCustomer().country">
                                    <option>Brasil</option>
                                    <option>Portugal</option>
                                    <option>Germany</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label" for="address">Address</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" id="address" name="address" [(ngModel)]="selectedCustomer().address"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label" for="postalCode">Postal Code</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" id="postalCode" name="postalCode" [(ngModel)]="selectedCustomer().postalCode"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label" for="businessSector">Business Sector</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" id="businessSector" name="businessSector" [(ngModel)]="selectedCustomer().businessSector"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label" for="establishmentDate">Establishment Date</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="date" id="establishmentDate" name="establishmentDate" [(ngModel)]="selectedCustomer().establishmentDate"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label" for="notes">Notes</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <textarea class="textarea" id="notes" rows="10" name="notes" [(ngModel)]="selectedCustomer().notes"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label">
                <!-- Left empty for spacing -->
                </div>
                <div class="field-body">
                    <div class="field is-grouped is-grouped-right">
                        <p class="control">
                            <button class="button is-primary" type="submit">
                                Save
                            </button>
                        </p>
                        <p class="control">
                            <button class="button is-light" type="button" (click)="onCancel()">
                                Cancel
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</dialog>
